
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F2CBC2;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header {
    background-color: #84BFB4;
    height: 100px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
}


